@font-face {
  src: url(../fonts/metropolis.bold.otf);
  font-family: Metropolis-Bold;
}
@font-face {
  src: url(../fonts/metropolis.medium.otf);
  font-family: Metropolis-Medium;
}
@font-face {
  src: url(../fonts/metropolis.regular.otf);
  font-family: Metropolis-Regular;
}
@font-face {
  src: url(../fonts/metropolis.semi-bold.otf);
  font-family: Metropolis-SemiBold;
}
@font-face {
  src: url(../fonts/MyriadPro-Light.otf);
  font-family: MyriadPro-Light;
}
@font-face {
  src: url(../fonts/Averta-Regular.otf);
  font-family: Averta-Regular;
}


/*********************  Default-CSS  *********************/


html body {
    font-family: Metropolis-SemiBold, sans-serif; 
    margin: 0;
    line-height: 1.3;
    color: #666666;
    font-size: 14px;
 
}
html {
  scroll-behavior: smooth;
}
.anim{
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a,
span,
a:hover,
a:active,
button {
    text-decoration: none;
}

*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:focus, button:focus, input:focus, select:focus {
    outline: none;
}

a:hover {
    color: #000;
}

body .clearfix,
body .clear {
    clear: both;
    line-height: 100%;
}

body .clearfix {
    height: auto;
}

* {
    outline: none !important;
}

li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'Metropolis-SemiBold';
    margin: 0;
}
p{
    margin: 0;
}

img {
    max-width: 100%;
}



/*********************  Default-CSS close  *********************/

/*Header Css*/

.header-wrapper{
    background-color: #000;
    padding: 7px 0;
    
}
.header-wrapper .top_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper .top_header .top_header_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_header_mail a{
    color: #fff;
    padding-left: 5px;
}
.top_header_mail a i{
    color: #ff9f39;
    font-size: 20px;
}
.top_header_mail > a:hover i{
    color: #fff;
}
.top_header_mail > a:nth-child(2):hover{
    color: #ff9f39;
}
.top_header_social p{
    color: #fff;
}
.top_header_social > a{
    padding-left: 5px;
    padding-right: 25px;
    color: #ff9f39;
}
.top_header_social_icons{
    padding-left: 20px;
    display: flex;
    position: relative;
}
.top_header_social_icons i{
    color: #fff;
}
.top_header_social_icons:before{
    content: '';
    background-color: rgb(162, 162, 162);
    width: 1px;
    height: 44px;
    position: absolute;
    right: 90px;
    top: -7px;
}
.top_header_social_icons a.social_icons{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_header_social_icons a.social_icons:nth-child(2){
    margin-left: 10px;
}
.top_header_social_icons a.social_icons:hover{
    border-color: #ff9f39;
}
.top_header_social_icons a.social_icons:hover i{
    color: #ff9f39;
}

/*Main Header*/
#Header{
    background-color: #fff;
}
.main_header{
    padding: 3px 0;
}
.main_header_logo a{
    display: inline-block;
}
.main_header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_header_btn{
    margin-top: 5px;
}
.main_header_btn a{
    font-size: 16px;
    background-color: #ff9f39;
    padding: 18px 38px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    border: 1px solid #fff;
}
.main_header_btn a:hover{
    color: #ff9f39;
    border-color: #ff9f39;
    background-color: #fff;
}


/*Sec-1*/
.sec_1{
    background-image: url(../image/bitmap_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0;
    position: relative;
    z-index: 1;
}
.sec_1:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.sec_1_title{
    text-align: center;
    padding: 0 15px;
}
.sec_1_title h1{
    font-size: 60px;
    color: #ffffff;
    max-width: 950px;
    margin: 0 auto;
    font-weight: 600;
    padding-bottom: 20px;
}

.sec_1_title p{
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 20px;
    position: relative;
}
.sec_1_title p:before{
    content: '';
    width: 85px;
    height: 3px;
    background-color: #ff9f39;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


/*our_story Section*/
.sec_pad{
    padding: 100px 0;
}
.our_story_inner_row{
    display: flex;

}
.our_story_content{
    width: 55%;
}
.our_story_img{
    width: 45%;
}
.our_story_content span{
    font-size: 22px;
    color: #076d3b;
    font-weight: 600;
    position: relative;
    padding-left: 13px;
    cursor: pointer;
}
.our_story_content span:before{
    content: '';
    width: 3px;
    height: 26px;
    background-color: #076d3b;
    position: absolute;
    top: -2px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.our_story_content span:hover:before{
    height: 0;
}
.our_story_content span:after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #076d3b;
    position: absolute;
    bottom: -3px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.our_story_content span:hover:after{
    width: 100%;
}
.our_story_content h2{
    font-size: 34px;
    color: #39393f;
    max-width: 700px;
    font-weight: 600;
    padding: 10px 0;
    line-height: 1.3;
}
.our_story_content p{
    font-size: 16px;
    color: #666666;
    line-height: 1.8;
    margin-top: 10px;
    font-family: Metropolis-Regular, sans-serif;
    max-width: 735px;
}
.our_story_content p a{
    font-weight: 600;
    color: #076d3b;
}
.What_better_way_to_m {
  font-size: 16px;
  font-family: "Metropolis";
  color: rgb(102, 102, 102);
  line-height: 1.8;
  text-align: left;
  position: absolute;
  left: 261.937px;
  top: 1209.705px;
  width: 757px;
  height: 132px;
  z-index: 213;
}



/*our_benefit Section*/
.our_benefit{
    padding-top: 100px;
    background-color: #f7f7f7;
}
.sec_title p{
    font-size: 18px;
    color: #066c3a;
    text-align: center;
    position: relative;
}
.sec_title h2{
    font-size: 38px;
    color: #39393f;
    font-family: Metropolis-Bold, sans-serif;
    text-align: center;
    padding-top: 5px;
}

.our_benefit_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.our_benefit_left,
.our_benefit_right{
    width: 32%;
}
.our_benefit_banner{
    width: 36%;
}
.our_benefit_left_list ul li,
.our_benefit_right_list ul li {
    font-size: 22px;
    color: #39393f;
    padding: 25px 0;
    position: relative;
}
.our_benefit_left_list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}
.our_benefit_right_list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.our_benefit_left_list ul li:nth-child(1){
    padding-right: 5px;
}
.our_benefit_left_list ul li:nth-child(2),
.our_benefit_left_list ul li:nth-child(4){
    padding-right: 50px;
}
.our_benefit_left_list ul li:nth-child(3){
    padding-right: 77px;
}
.our_benefit_left_list ul li:nth-child(5){
    padding-right: 20px;
}
.our_benefit_left_list ul li:nth-child(1):before{
    content: url(../image/list1.png);
    right: -110px;
}
.our_benefit_left_list ul li:nth-child(2):before{
    content: url(../image/list2.png);
    right: -65px;
}
.our_benefit_left_list ul li:nth-child(3):before{
    content: url(../image/list3.png);
    right: -51px;
}
.our_benefit_left_list ul li:nth-child(4):before{
    content: url(../image/list4.png);
    right: -62px;
}
.our_benefit_left_list ul li:nth-child(5):before{
    content: url(../image/list5.png);
    right: -99px;
    top: 25px;
}
.our_benefit_right_list ul li:nth-child(1){
    padding-left: 25px;
}
.our_benefit_right_list ul li:nth-child(2),
.our_benefit_right_list ul li:nth-child(4){
    padding-left: 60px;
}
.our_benefit_right_list ul li:nth-child(3){
    padding-left: 90px;
}
.our_benefit_right_list ul li:nth-child(5){
    padding-left: 35px;
}
.our_benefit_right_list ul li:nth-child(1):before{
    content: url(../image/list5.png);
    left: -93px;
}
.our_benefit_right_list ul li:nth-child(2):before{
    content: url(../image/list4.png);
    left: -48px;
}
.our_benefit_right_list ul li:nth-child(3):before{
    content: url(../image/list3.png);
    left: -35px;
}
.our_benefit_right_list ul li:nth-child(4):before{
    content: url(../image/list2.png);
    left: -45px;
}
.our_benefit_right_list ul li:nth-child(5):before{
    content: url(../image/list1.png);
    left: -84px;
    top: 19px;
}
.our_benefit_left_list ul li:before {
    position: absolute;
    top: 30px;
}
.our_benefit_right_list ul li:before {
    transform: rotate(180deg);
    top: 22px;
    position: absolute;
}
p.last_benefit:before{
    content: url(../image/list6.png);
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
}
p.last_benefit{
    font-size: 22px;
    color: #39393f;
    text-align: center;
    padding-top: 25px;
    position: relative;
}



/*Steps Section*/

.our_benefit_title.sec_title p{
    font-size: 22px;
}
.step_sec_inner{
    padding-top: 10px;
}
.step_sec_inner_row{
    margin: 0 -12px;
    margin-top: 30px;
}
.step_sec_inner_col{
    padding: 0 12px;
}
.step_sec_inner_col .step_sec_inner_box{
    padding: 20px;
    padding-left: 35px;
    height: 348px;
    border: 1px solid #d7d7d7;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.step_sec_inner_col .step_sec_inner_box:hover{
    border-color: transparent;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.step_sec_inner_box .step_sec_box_img{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.step_sec_inner_row .step_sec_inner_box h4{
    font-size: 26px;
    color: #39393f;
    font-family: Metropolis-Bold, sans-serif;
    padding-top: 20px;
}
.step_sec_inner_row .step_sec_inner_box p{
    font-size: 16px;
    font-family: Metropolis-Regular, sans-serif;
    color: #666666;
    line-height: 2;
    padding-top: 10px;
}


/*client_sec*/
.client_sec{
    background-color: #f7f7f7;
}
.client_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.client_list .item{
    padding: 0 15px;
}

/*Client Testimonial*/
.client_testi .sec_title p{
    text-align: left;
}

.client_testi .sec_title h2{
    text-align: left;
    padding-top: 10px;
}
.client_testi .sec_title p span:before{
    content: '';
    width: 3px;
    height: 26px;
    background-color: #076d3b;
    position: absolute;
    top: -4px;
    left: 0px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.client_star{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.client_testi .sec_title p span{
    position: relative;
    cursor: pointer;
    padding-left: 13px;
}
.client_testi .sec_title p span:after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #076d3b;
    position: absolute;
    bottom: -3px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.client_testi .sec_title p span:hover:after{
    width: 100%;
}
.client_testi .sec_title p span:hover:before{
    height: 0;
}
.client_testi_inner .row{
    margin: 0 -12px;
}
.client_testi_inner_col{
    padding: 0 12px;
}
.client_testi_inner_col .client_testi_box{
    border: 1px solid #d7d7d7;
    height: auto;
    text-align: center;
    padding: 50px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.client_testi_inner_col .client_testi_box:hover{
    border-color: transparent;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.client_testi_inner{
    padding-top: 100px;
}
.client_testi_inner_col .client_testi_box .client_img{
    margin-top: -88px;
    padding-bottom: 24px;
}
p.client_content{
    font-size: 16px;
    color: #666666;
    line-height: 1.8;
    font-family: Metropolis-Regular;
    padding: 24px 0;
}
p.client_content img{
    margin-top: -20px;
}
p.client_name{
    font-size: 18px;
    line-height: 1.2;
    color: #ff9f39;
}


/*Hero img settion*/
.hero_img_inner{
    position: relative;
}
.hero_img_inner:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}
.contact_form .contact_form_inner{
    padding: 50px 90px;
    max-width: 1050px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -209px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2);
}
.contact_form_inner h2{
    font-size: 44px;
    color: #3b3a3f;
    text-align: center;
}
.contact_form_inner p{
    font-size: 16px;
    color: #076d3b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
}
.contact_form_inner p:before{
    content: '';
    width: 96px;
    height: 2px;
    background-color: #076d3b;
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
}
.contact_form_inner form label{
    font-size: 18px;
    color: #999999;
    font-family: MyriadPro-Light;
    margin: 0;
}
.contact_form_inner .form-row{
    margin: 0 -20px;
}
.contact_form_inner .contact_form_inner_col{
    padding: 10px 20px;
}
.contact_form_inner form input.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #999999;
    padding: 0;
    font-size: 18px;
    margin-top: -10px;
    height: 35px;
}
.contact_form_inner form input.form-control:focus{
    box-shadow: none;
    color: #999999;
}
.contact_form_inner form .form-group textarea{
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #999999;
    padding: 0;
    font-size: 18px;
    height: 60px;
    resize: none;
}
.contact_form_inner form .form-group textarea:focus{
    color: #999999;
}
.schedule_btn{
    text-align: center;
    margin-bottom: 0;
    padding-top: 20px;
}
.contact_form_inner form .submit_btn{
    font-size: 16px;
    background-color: #ff9f39;
    padding: 18px 38px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 0;
}
.contact_form_inner form .submit_btn:hover{
    color: #ff9f39;
    border-color: #ff9f39;
    background-color: #fff;
}


/*Footer*/
.main_footer .footer_inner{
    max-width: 1142px;
    margin: 0 auto;
    padding: 100px 0;
}
.footer_inner .footer_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_social_icons a.social_icons {
    width: 57px;
    height: 57px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;

}
.footer_social_icons a.social_icons:hover{
    border-color: #ff9f39;
}
.footer_social_icons a.social_icons:hover i{
    color: #ff9f39;
}
.footer_social_icons a.social_icons:first-child{
    margin-right: 5px;
}
.footer_social_icons a.social_icons:last-child{
    margin-left: 5px;
}
.footer_social_icons a.social_icons i{
    color: #000;
}
.copyright_social p{
    font-size: 16px;
    color: #666666;
    font-family: Averta-Regular;
    padding-top: 30px;
}
.footer_phone_email .footer_phone span{
    font-size: 16px;
    color: #000;
    font-family: Averta-Regular;
    font-weight: 800;
    padding-left: 10px;
}
.footer_phone_email .footer_phone svg{
    margin-top: -5px;
}
.footer_phone_email .footer_phone a{
    font-size: 24px;
    color: #666666;
    font-family: Averta-Regular;
    padding-top: 10px;
    display: inline-block;
}
.footer_phone_email .footer_email{
    padding-top: 50px;
}
.footer_phone_email .footer_email i {
    color: #ff9f39;
    font-size: 20px;
}
.footer_phone_email .footer_email span{
    font-size: 16px;
    color: #000;
    font-family: Averta-Regular;
    font-weight: 800;
    padding-left: 10px;
}
.footer_phone_email .footer_email a{
    font-size: 18px;
    color: #666666;
    font-family: Averta-Regular;
    padding-top: 10px;
    font-weight: 100;
    display: inline-block;
}
.footer_phone_email .footer_email a:hover,
.footer_phone_email .footer_phone a:hover{
    color: #ff9f39;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 11px 30px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 11px 30px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 30px -20px rgba(0,0,0,0.75);
}
/*

    font-family: Metropolis-Bold;


    font-family: Metropolis-Medium;

    font-family: Metropolis-Regular;

    font-family: Metropolis-SemiBold;

    font-family: MyriadPro-Light;
    
    font-family: Averta-Regular;


    */
